# Ignore node_modules folder in frontend
frontend/node_modules/

# Ignore the backend's virtual environment and other unnecessary files
backend/env/
backend/*.pyc
backend/__pycache__/

# Ignore log files
*.log

# Ignore .git directory
.git/

# Ignore .env files containing sensitive environment variables
.env

# Ignore build artifacts
build/

# Ignore system files like .DS_Store (Mac) or Thumbs.db (Windows)
.DS_Store
Thumbs.db
